params {

    // workflow options
    input                      = null
    outdir                     = '$baseDir/results'
    publish_dir_mode           = 'copy'

    // The GEO accession for the ingested data
    geo                        = null
}

// profiles for various environments
profiles {
    // currently allows docker but can be expanded to other environments
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        process.container      = "jackgisby/imid_rnaseq_processing:latest"
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process.container      = "jackgisby/imid_rnaseq_processing:latest"
        docker.enabled         = false
    }
    apptainer {
        apptainer.enabled      = true
        process.container      = "jackgisby/imid_rnaseq_processing:latest"
        docker.enabled         = false
        singularity.enabled    = false
    }
}
