params {
    max_memory                 = 80.GB
    max_cpus                   = 12
    max_time                   = 30.h
}

process {
    executor   = "sge"
    penv       = "smp"

    // See: https://github.com/nf-core/rnaseq/blob/master/conf/base.config
    // For resource specification of nf-core pipelines
    maxRetries    = 0
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = 1                       
        memory = 4.GB   
        time   = 4.h      
    }
    withLabel:process_low {
        cpus   = 2         
        memory = 8.GB   
        time   = 4.h       
    }
    withLabel:process_medium {
        cpus   = 6         
        memory = 25.GB   
        time   = 8.h        
    }
    withLabel:process_high {
        cpus   = 12        
        memory = 35.GB   
        time   = 16.h    
    }
    withLabel:process_long {
        time   = 20.h
    }
    withLabel:error_retry {
        maxRetries    = 0
    }

    // use fewer resources for these processes
    withName:'NFCORE_FETCHNGS:SRA:FASTQ_DOWNLOAD_PREFETCH_FASTERQDUMP_SRATOOLS:SRATOOLS_PREFETCH' {
        cpus   = 2
        memory = 3.GB  
        time   = 1.h
    }
    withName:'NFCORE_FETCHNGS:SRA:FASTQ_DOWNLOAD_PREFETCH_FASTERQDUMP_SRATOOLS:SRATOOLS_FASTERQDUMP' {
        cpus   = 3
        memory = 5.GB  
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:FQ_SUBSAMPLE' {
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        cpus   = 2
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        cpus   = 4
        time   = 1.h
        memory = 8.GB
    }
    withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        cpus   = 12
        memory = 15.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        cpus   = 12
        memory = 15.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_QUANT' {
        cpus   = 6
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TX2GENE' {
        cpus   = 2
        memory = 15.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TX2GENE' {
        cpus   = 4
        memory = 15.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE' {
        cpus   = 1
        memory = 10.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
        cpus   = 1
        memory = 10.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_SCALED' {
        cpus   = 1
        memory = 10.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_TRANSCRIPT' {
        cpus   = 1
        memory = 10.GB
        time   = 1.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC' {
        cpus   = 1
        memory = 12.GB
        time   = 12.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_SALMON' {
        cpus   = 1
        memory = 12.GB
        time   = 12.h
    }
    withName:'NFCORE_RNASEQ:RNASEQ:MULTIQC' {
        time   = 1.h
    }
    
    // Memory specification fails in apocrita (as it is per-core..?)
    // Specify the per-core memory using h_vmem
    // clusterOptions = { "-l h_vmem=6G" } 
    clusterOptions = { "-l h_vmem=${task.memory.toGiga() / task.cpus}G" }
}

executor {
    $sge {
        queueSize       = 30
        submitRateLimit = '10 sec'
    }

    $local {
        cpus      = 2
        queueSize = 1
        memory    = '4 GB'
    }
}
