params {
    max_memory                 = '40.GB'
    max_cpus                   = 10
    max_time                   = '10.h'
}

process {
    executor   = "sge"
    penv       = "smp"

    maxRetries = 1
}

executor {
    $sge {
        queueSize       = 5
        submitRateLimit = '10 sec'
    }

    $local {
        cpus      = 2
        queueSize = 1
        memory    = '6 GB'
    }
}
