params {
    max_memory                 = 80.GB
    max_cpus                   = 12
    max_time                   = 30.h
}

process {
    executor   = "sge"
    penv       = "smp"

    // See: https://github.com/nf-core/rnaseq/blob/master/conf/base.config
    // For resource specification of nf-core pipelines
    maxRetries    = 0
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = 1                       
        memory = 6.GB   
        time   = 4.h      
    }
    withLabel:process_low {
        cpus   = 2         
        memory = 12.GB   
        time   = 4.h       
    }
    withLabel:process_medium {
        cpus   = 6         
        memory = 36.GB   
        time   = 8.h        
    }
    withLabel:process_high {
        cpus   = 12        
        memory = 72.GB   
        time   = 16.h    
    }
    withLabel:process_long {
        time   = 20.h
    }
    withLabel:error_retry {
        maxRetries    = 0
    }

    // Memory specification fails in apocrita (as it is per-core..?)
    // Specify the per-core memory using h_vmem
    // clusterOptions = { "-l h_vmem=6G" } 
    clusterOptions = { "-l h_vmem=${task.memory.toGiga() / task.cpus}G" }
}

executor {
    $sge {
        queueSize       = 60
        submitRateLimit = '10 sec'
    }

    $local {
        cpus      = 2
        queueSize = 1
        memory    = '4 GB'
    }
}
