params {

    // Genome references (use these to download from ENSEMBL and make salmon index)
    // fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.primary_assembly.genome.fa.gz"
    // gtf = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.primary_assembly.annotation.gtf.gz"
    // transcript_fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz"

    // Genome references (use these once available)
    fasta = "/data/home/$USER/nextflow_res/imid_rnaseq/genomes/GRCh38.primary_assembly.genome.fa"
    gtf = "/data/home/$USER/nextflow_res/imid_rnaseq/genomes/gencode.v44.primary_assembly.annotation.gtf"
    transcript_fasta = "/data/home/$USER/nextflow_res/imid_rnaseq/genomes/gencode.v44.transcripts.fa"
    salmon_index = "/data/home/$USER/nextflow_res/imid_rnaseq/genomes/salmon"

    gencode = true

    // Use salmon quantification instead of full alignment
    pseudo_aligner = "salmon"
    skip_alignment = true

    // Minimise file duplication
    save_trimmed = false
    save_reference = false
}
