params {

    // Max resources
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Genome references
    fasta = "ftp://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz"
    gtf = "ftp://ftp.ensembl.org/pub/release-110/gtf/homo_sapiens/Homo_sapiens.GRCh38.110.gtf.gz"
    transcript_fasta = "ftp://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
    // salmon_index       = ""
    
    // Use salmon quantification instead of full alignment
    pseudo_aligner = "salmon"
    skip_alignment = true
}
